nav.navbar.navbar-inverse.navbar-static-top
    .container-fluid
        .navbar-header
            button.navbar-toggle(type='button' data-toggle='collapse' data-target='#topNavbar')
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(href='#') U-tad
        #topNavbar.collapse.navbar-collapse
            ul.nav.navbar-nav
                li.dropdown
                    a.dropdown-toggle(data-toggle='dropdown' href='#')
                        | Our asignatures
                        span.caret
                    ul.dropdown-menu
                        li
                            a(href='#') Asignature 1
                        li
                            a(href='#') Asignature 2
                        li
                            a(href='#') Asignature 3
                        li
                            a(href='#') Asignature 4
                        li
                            a(href='#') Asignature 5
                li.active
                    a(href='#') FAQ
            ul.nav.navbar-nav.navbar-right
                li
                    a(href='#enrollModal' data-toggle='modal')
                        span.glyphicon.glyphicon-user
                        |  Sign Up
                li
                    a(href='#loginModal' data-toggle='modal')
                        span.glyphicon.glyphicon-log-in
                        |  Login
.container
    .jumbotron
        h1 Welcome to U-tad!
        p
            | The strength of the Cloud to make your money reach its maximum potential. Join us in the most advanced financial institution in the world.
        a.btn.btn-info.btn-lg(href='#myModal' data-toggle='modal')
            span.glyphicon.glyphicon-zoom-in
            |  Learn more
    .row
        .col-md-4.column
            h2 No Legacy
            p
                | U-tad is the first cloud based financial institution who has been designed from scratch avoiding all those annoying things you hate from banks. Everything has been designed to squeeze the technology to the top.
            p
                a.btn(href='#') View details &raquo;
        .col-md-4.column
            h2 Worldwide
            p
                | It has been designed to cover the full mankind, just as it does Google, Amazon, Facebook, linkedIn... It is great when you deal with searching, selling, or networking, so how about moving money at web-scale?
            p
                a.btn(href='#') View details &raquo;
        .col-md-4.column
            h2 Powerful
            p
                | Power means both capability of doing more with less resources and capability of doing things no one can. First one will lead towards less expenses and second one will open ways of doing banking in ways you have never dreamt of.
            p
                a.btn(href='#') View details &raquo;
nav.navbar.navbar-inverse.navbar-fixed-bottom
    .container-fluid
        #bottomNavbar.collapse.navbar-collapse
            ul.nav.navbar-nav
                li
                    a(href='#') Who we are
            ul.nav.navbar-nav.navbar-right
                li
                    a(href='#') Contact us
#enrollModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='enrollModalLabel' aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                button.close(type='button' data-dismiss='modal' aria-hidden='true') &times;
                h3#enrollModalLabel Join us to U-tad
                p Let us know who are you are in order to be the only one who handles your money
            form(role='form' action='home.html')
                .modal-body
                    .form-group
                        label(for='username') How do you want us to call you?:
                        .input-group
                            span.input-group-addon
                                span.glyphicon.glyphicon-user
                            input#userid.form-control(type='text' placeholder='Enter customer name')
                    .form-group
                        label(for='pwd') Choose a Password:
                        .input-group
                            span.input-group-addon
                                span.glyphicon.glyphicon-lock
                            input#pwd.form-control(type='password' placeholder='Enter password')
                        label(for='pwd2') One More time, please:
                        .input-group
                            span.input-group-addon
                                span.glyphicon.glyphicon-lock
                            input#pwd2.form-control(type='password' placeholder='Confirm password')
                    .form-group
                        label(for='phone') Phone:
                        .input-group
                            span.input-group-addon
                                span.glyphicon.glyphicon-phone
                            input#phone.form-control(type='tel' placeholder='Enter phone number')
                        label(for='email') Email:
                        .input-group
                            span#basic-addon1.input-group-addon @
                            input#email.form-control(type='email' placeholder='Enter email')
                .modal-footer
                    button.btn(data-dismiss='modal') Not yet
                    button.btn.btn-primary(type='submit') Join
#loginModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='loginlModalLabel' aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                button.close(type='button' data-dismiss='modal' aria-hidden='true') &times;
                h3#loginlModalLabel Log In
                p Welcome back. We missed you
            form(role='form' action='home.html')
                .modal-body
                    .form-group
                        label(for='username') Who are you?:
                        .input-group
                            span.input-group-addon
                                span.glyphicon.glyphicon-user
                            input#useridlogin.form-control(type='username' placeholder='Enter customer name')
                    .form-group
                        label(for='pwd') What&apos;s your Password:
                        .input-group
                            span.input-group-addon
                                span.glyphicon.glyphicon-lock
                            input#pwdlogin.form-control(type='password' placeholder='Enter password')
                .modal-footer
                    button.btn(data-dismiss='modal') Not now
                    button.btn.btn-primary(type='submit') Get In
